page-adminsettings {
  .icon {
    font-size: 40px;
  }

  .box-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .list-avatar-page {
    ion-note {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 5px;
    }
  }

  .logo-font {
    font-size: 16px;
    // padding-left: 10px;
  }
}
